.select-menu.border.border-secondary
  button.btn.btn-outline-danger.btn-block(type='button', (click)='reset()') Alle zurücksetzen
  select#inputGroupSelect01.custom-select(multiple, (click)='onSelect()').border.border-secondary(#select)
    option(value='', disabled).title SystemKd
    hr
    option(value='0') Alle
    option(value='1') Nicht
    option(value='2') Broker
    option(value='3') Hart
  select#inputGroupSelect02.custom-select(multiple, (click)='onSelect()').border.border-secondary
    option(value='', disabled).title Länderbereich
    hr
    option(value='0') Alle
    option(value='1') Deutschland
    option(value='2') Ausland
  select#inputGroupSelect03.custom-select(multiple, (click)='onSelect()').border.border-secondary
    option(value='', disabled).title Region
    hr
    option(value='0') Alle
    option(value='1') Nord
    option(value='2') West
    option(value='3') Süd
    option(value='4') ost
    option(value='5') Österreich
  select#inputGroupSelect04.custom-select(multiple, (click)='onSelect()').border.border-secondary
    option(value='', disabled).title Nl
    hr
    option(value='0') Alle
    option(value='1') Weeze
    option(value='2') Kiel
    option(value='3') Hamburg
  select#inputGroupSelect05.custom-select(multiple, (click)='onSelect()').border.border-secondary
    option(value='', disabled).title StammNl
    hr
    option(value='0') Alle
    option(value='1') Weeze
    option(value='2') Kiel
    option(value='3') Hamburg
  select#inputGroupSelect05.custom-select(multiple, (click)='onSelect()').border.border-secondary
    option(value='', disabled).title Stauts
    hr
    option(value='0') Alle
    option(value='1') Aktiv
    option(value='2') Ruhend
    option(value='3') Lieferverbot
  select#inputGroupSelect05.custom-select(multiple, (click)='onSelect()').border.border-secondary
    option(value='', disabled).title Stützpunkt
    hr
    option(value='0') Alle
    option(value='1') Hamburg
    option(value='2') Hannover
    option(value='3') Nortmoor
  select#inputGroupSelect05.custom-select(multiple, (click)='onSelect()').border.border-secondary
    option(value='', disabled).title Auftragsherkunft
    hr
    option(value='0') Alle
    option(value='1') Email
    option(value='2') Fax
    option(value='3') Internet
